/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap');
:root{
--primary: #bc4123;
--secondary: #2b3452;
}
/* html */
*{
  font-family: 'Montserrat Alternates', sans-serif;
}


ul.card{
  margin: 0, auto;
}

/* title */
strong {
  font-weight: bold;
}

h2{
  background-color: rgb(82, 82, 219);
  color: black;
  padding-bottom: 60px;
  margin-bottom: -16px;
  
}

/* card */

.card{
  
  background: rgb(82, 82, 219);
  
}

li>*{
  padding: 10px;
}
.cardbox{
  display: block;
  padding: 20px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 8px !important;
}

.cardbox:hover strong{
  color: var(--primary);
}

.cardbox div{
  margin: 0;
  color: #bbb;
}



div{
  background-color: rgba(0,0,0,0.2);
  
}

.begining{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.end{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 30px;
}

.end p{
  font-size: 14px;
}



.cardbox:hover p{
  color: var(--primary);
}

.cardbox> div:last-child{
  font-size: 0.8em;
  color: #bbb;
  
}


